<!doctype html>
<html>
    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/css/pokemon.css" rel="stylesheet">

        <title>30 Millions Pokemons</title>

    </head>
    <body>
        <div class="container">
            <section class="row col-sm-12">
                <div class="page-header">
                    <a href="{{ path('home') }}"><h1>30 Millions de Pokemons !</h1></a>
                </div>
            </section>

            <div class="row col-sm-12">
                <nav class="col-sm-2">
                    <ul class="nav nav-pills nav-stacked">
                        <br>
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li> <a href="{{ path('profil') }}"><span class="glyphicon glyphicon-user"></span> Mon profil</a> </li>
                        <li> <a href="{{ path('shop_cart', { 'id': app.user.getId }) }}"> <span class="glyphicon glyphicon-shopping-cart"></span> Mon panier</a> </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-th-large"></span> Mon compte <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('logout') }}">Se Déconnecter</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Non connecté <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('login') }}">Se Connecter</a></li>
                                <li><a href="{{ path('user_add') }}">S'Inscrire</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

                <section class="col-sm-10">
                    <div class="text-center">
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                        <h5>Bienvenue, {{ app.user.getFirstname }} !</h5>
                        {% endif %}
                        <br>
                        {% block error %}{% endblock %}
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% block title %}{% endblock %}
                        </div>
                    </div>
                    <div class="panel-body">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="panel-footer">
                        {% block footer %}{% endblock %}
                    </div>
                    <br><br>
                </section>

                <section class="footer">
                    <div class="footer-bottom">
                        <div class="container text-center">
                            <p> 30 Millions de Pokemons est un site pour la vente de pokemons. </p>
                            <p> Créé en 2016 par Sacha Lhopital pour le module ISI 2 Web de Polytech Lyon. </p>
                            <p><a href="https://github.com/SachaLhopital">GitHub</a></p>
                        </div>
                    </div>
                </section>
            </div> 
        </div>

        <script src="{{ app.request.basepath }}/lib/jquery/jquery.min.js"></script>
        <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>