{% extends 'error.html.twig' %}

{% block title %}{{details.getName}}{% endblock %}

{% block content %}

<div class="row">
    <div class="thumbnail" >
        {% for aType in types %}
        <a href="{{ path('category', { 'id': aType.codeType }) }}"><h4 class="text-center"><span class="label label-info">{{ aType.type }}</span></h4></a>
        {% endfor %}
        <br>
        <img data-toggle="tooltip" data-placement="bottom" title="{{ details.getName }}"  src="{{ app.request.basepath }}/images/{{ details.getName }}.jpg">
        <div class="caption">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h3>{{ details.getName }}</h3>
                </div>
                <div class="col-md-6 col-xs-6 price">
                    <h3>
                        <label>{{ details.getPrice }}€</label></h3>
                </div>
            </div>
            <br>
            <p>{{ details.getDescription }}</p>
            <br>
            <div class="row">

                {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}

                {% if details.getStock == 0 %}

                <div class="alert alert-danger">
                    <strong>Ce Pokemon est victime de son succès : Rupture de stock !</strong>
                </div>

                {% else %}

                <a href="{{ path('add_shop_cart', { 'iduser': app.user.id, 'idpkm': details.id }) }}" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier (Quantité en stock : {{ details.getStock }})</a>

                {% endif %}

                {% else %}

                <a href="{{ path('login') }} ">Connectez-vous</a> pour ajouter ce pokémon à votre panier !

                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
